$nprogressColor = #3eaf7c //加载条颜色
$accentColor = #3eaf7c //默认主题颜色
$textColor = #2c3e50 //默认字体颜色
$borderColor = #eaecef //默认边框颜色
$codeBgColor = #282c34 //默认背景颜色

// 复制代码块样式重写
div[class*="language-"] pre .code-copy, div[class*="aside-code"] aside .code-copy {
  top: 10px;
  right: 40px;
}
